<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i" rel="stylesheet">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    {{{body}}}
    
    <!-- Slide in drawer menu -->
    <div class="drawer-menu" class="pull-left">
        {{navigation}}
    </div>

    <!-- Search view -->
    <div class="search-view">
        <button onclick="toggleSearch()" class="close-button">
            {{> "icons/cross"}}
        </button>
        <div class="wrapper">
            <div class="search-input">
                <form>
                    <input type="text" id="search-field" placeholder="Search" name="" autofocus>
                    <button type="submit" value="search">
                        {{> "icons/arrow-right"}}
                    </button>
                </form>
            </div>
            <section id="search-results"></section>
        </div>
    </div>

    <!-- JQuery -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    
    <script type="text/javascript" src="{{asset "ghostHunter/dist/jquery.ghosthunter.js"}}"></script>
    
    <script src="{{asset "built/js/main.js"}}"></script>
    
    <script>
        var ghosthunter_key = ''; // ADD YOUR CONTENT API KEY
        $("#search-field").ghostHunter({
          results: "#search-results"
        });
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
